.App {
  text-align: center;
}

.App-header {
  background-color: #0e1f40;
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50%;
}

/* .pokemonImg {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

.App-link {
  color: #61dafb;
}

.buttonR {
  background-color: #1e232c;
  position: relative;
  width: 330px;
  height: 56px;
  margin: 10px;
  text-decoration: none;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 10px;
}

.buttonR:hover {
  transform: translateY(-10px);
  background-color: gold;
}

.buttonL {
  background-color: #ffffff;
  position: relative;
  width: 330px;
  height: 56px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.buttonL:hover {
  transform: translateY(-10px);
  background-color: gold;
}

.buttonText {
  text-decoration: none;
  color: #ffffff;
}

.buttonText2 {
  text-decoration: none;
  color: black;
}

.MuiBox {
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238);
  border-right: 1px solid;
}

.battlepage{
  display:flex
  
}
.battlearea{
flex:1
}
.chatarea{
  flex:1
}

.lobby{
  display:flex;
justify-content: space-between;
gap:15vh
}
.chat{
  flex-grow:1
}
.rooms{
  flex-grow:1
}