.App {
  text-align: center;
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: "0.8";
}

.footer {
  min-height: 200px;
  background-image: url("background.jpg");
  background-repeat: repeat-x;
}

body,
html {
  margin: 0;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.register {
  font-weight: 900;
  font-size: 150%;
}

.register-buttons {
  font-weight: 900;
  font-size: 150%;
  color: whitesmoke;
}

.login {
  font-weight: 900;
  font-size: 150%;
}

.pokemonImg {
  font-size: 0;
  vertical-align: top;
}

.buttonR {
  background-color: #1e232c;
  position: relative;
  width: 330px;
  height: 56px;
  margin: 10px;
  text-decoration: none;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 10px;
  max-width: 100%;
}

.buttonR:hover {
  transform: translateY(-10px);
  background-color: gold;
}

.buttonL {
  background-color: #ffffff;
  position: relative;
  width: 330px;
  height: 56px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  max-width: 100%;
}

.buttonL:hover {
  transform: translateY(-10px);
  background-color: gold;
}

.buttonText {
  text-decoration: none;
  color: #ffffff;
}

.buttonText2 {
  text-decoration: none;
  color: black;
}

.MuiBox {
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238);
  border-right: 1px solid;
}

.battlepage {
  display: flex;
}
.battlearea {
  flex: 1;
}

.modal {
  position: absolute;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal-size {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;

  transform: translate(-50%, -50%);
}
