.battlePage {
  display: inline-block;
}

.winner {
  background-color: green;
}

.loser {
  background-color: red;
}

.computerP {
  border: 1px solid black;
  margin: 10px;
  float: left;
  overflow: hidden;
}

.playerP {
  border: 1px solid black;
  margin: 20px;
  overflow: hidden;
}
